* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav {
  position: absolute;
  height: 1024px;
  left: 0px;
  top: 0px;

  background: #20b887;
}

.nav-container {
  display: grid;
  row-gap: 30px;
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 150px 0 0 0;
}

.nav-container li {
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.active {
  background: #f9fbff;
  color: #20b887;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: -30px;
}

.logo-container {
  display: grid;
  grid-auto-flow: column;
  padding: 30px;
  align-items: center;
  column-gap: 20px;
}

.level-title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;

  color: #6ff3c8;
}

.btn-round:focus {
  outline: none;
}

.btn-round {
  cursor: pointer;
  width: 54px;
  height: 54px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  border-radius: 50%;
}

.btn-round.add {
  background-image: url("./img/add.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.btn-round.check {
  background-image: url("./img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1aad7e;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-auto-flow: column;
}

.label-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: rgba(0, 0, 0, 0.53);
}

.add-word-container input {
  padding: 8px 13px;
}

.add-word-container,
.add-word-container > div {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 20px;
}

.add-word-container {
  margin-top: 50px;
}
