* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav {
  max-width: 295px;
  height: 1024px;
  left: 0;
  top: 0;

  background: #20b887;
}

.nav-container {
  display: grid;
  row-gap: 30px;
  color: white;
  margin: 0;
  padding: 150px 0 0 0;
}

.nav-container a {
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #ffffff;
}

a.active {
  background: #f9fbff;
  color: #20b887;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: -30px;
}

.logo-container {
  display: grid;
  grid-auto-flow: column;
  padding: 30px;
  align-items: center;
  column-gap: 20px;
}

.level-title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;

  color: #6ff3c8;
}

.btn-round:focus {
  outline: none;
}

.btn-round {
  cursor: pointer;
  width: 54px;
  height: 54px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  border-radius: 50%;
}

.btn-round.add,
.btn-round.close {
  background-image: url("./img/add.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s linear;
}

.btn-round.close {
  transform: rotate(45deg);
}

.btn-round.check {
  background-image: url("./img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1aad7e;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
}

.btn-next {
  cursor: pointer;
  font-size: 40px;
  justify-self: end;
  padding: 0px 15px 4px 60px;
  background-color: #0C9267;
  color: white;
}

.btn-repeat {
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  margin: 30px auto 0;
  padding: 19px 15px 19px 24px;
  width: 84px;
  font-weight: bold;
  background-color: #0C9267;
  color: white;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 350px auto;
}

.label-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: rgba(0, 0, 0, 0.53);
}

.add-word-container input {
  padding: 11px 32px;
}

.add-word-container > div {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 20px;
}

.check {
  background-color: #1aad7e;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  color: #ffffff;
  font-size: 24px;
}

.library-container > div > div {
  padding: 15px;
  text-align: center;
}

.library-container {
  background: rgba(242, 246, 254, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.library-container > div > div {
  position: relative;
}

.library-container > div:not(.library-header) > div:not(:last-child):after {
  content: '';
  position: absolute;
  right: 0;
  top: 20px;
  width: 3px;
  background: rgba(242, 246, 254, 0.46);
  height: 100%;
}

.library-container > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #036344;
}

.library-header > div:after {
  content: '';
  position: absolute;
  height: 16px;
  width: 80%;
  background-color: rgba(242, 108, 94, 0.09);
  left: 12px;
  bottom: 8px;
}

.library-header > div {
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #992E00;
}

.score {
  z-index: 4;
  position: absolute;
  right: 50px;
  color: darkgreen;
  top: 20px;
}

.add-word-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  column-gap: 20px;
  align-items: center;
}

.page-container{
  margin: 50px;
  display: grid;
  justify-content: center;
  align-items: start;
  grid-auto-flow: row;
  align-content: flex-start;
  row-gap: 60px;
}

.learn-container{
  display: grid;
  row-gap: 60px;
  position: relative;
  background: rgba(242, 246, 254, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 60px 120px;
}

.percentage {
  position: absolute;
  background: #F26C5E;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  top: -15px;
  left: -15px;
  padding: 4px 15px;
}

.word-translation {
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  color: #00402B;
}

.word {
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  color: #1AAD7E;
  text-align: center;
}

.description-label {
  top: -23px;
  left: 0;
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.52);
}

.learn-wrapper {
  display: grid;
  align-items: center;
  align-content: start;
  row-gap: 30px;
  margin-top: 117px;
  justify-content: center;
}

.word-container {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
}

.mode-container > div:first-child {
  display: grid;
  align-content: space-between ;
  min-width: 280px;
}

.mode-container:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mode-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 25px 55px 55px 55px;
}

.easy-mode {
  background: rgba(215, 228, 255, 0.46);
}

.hard-mode {
  background: rgba(176, 222, 255, 0.46);
}

.easy-mode .model-description {
  padding-top: 48px;
  color: #1B81DF;
}

.hard-mode .model-description {
  padding-top: 48px;
  color: #1B46DF;
}

.mode-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #036344;
}

.model-description {
  font-size: 24px;
  line-height: 28px;  
}

.mode-page {
  display: grid;
  align-items: start;
  margin: 130px auto;
}

.mode-page a {
  text-decoration: none;
}

.game-page {
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgb(242, 246, 254);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.btn-exit {
  z-index: 2;
  position: absolute;
  width: 176px;
  height: 48px;
  left: 42px;
  top: 32px;
  border: none;
  color: white;
  background: #036344;
  font-size: 24px;
}

.correct-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #006A31;
  margin-right: 15px;
}

.error-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #680000;
}

.points-block {
  z-index: 2;
  position: absolute;
  left: 300px;
  top: 40px;
}

.mode-title-word {
  font-size: 144px;
  line-height: 169px;
  align-items: center;
  text-align: center;
  color: #036344;
}

.mode-title-word-description {
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 140px;
  color: #000000;
}

.check-item-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.check-item {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #516961;
}

.mode-wrapper {
  display: grid;
  align-items: start;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  text-align: center;
}

.customInput {
  position: relative;
  border: none;
  background: transparent;
  padding: 8px 13px;
  border-bottom: 3px solid #084934;
}

/* .customInput:after {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: #084934;
} */

.btn-enter {
  background-color: #084934;
  color: white;
  padding: 8px;
  border: none;
}

.input-block{
  display: grid;
  align-items: center;
  grid-template-columns: 8fr 2fr;
  column-gap: 10px;
}